.navbar-element{
  background-color: #212924;
  color:whitesmoke;
  font-size: 20px;
  font-weight: 400;
  margin-left: 2em;
  padding:0.5em;
  text-align: center;

  &__label{
    display: flex;
    justify-content: center;
  }
}
