<div class="order-list">
  <div *ngIf="totalPrice > 0"
    class="order-list--price"
  >
    Total price of order list is {{totalPrice}} <mat-icon>euro</mat-icon>
  </div>
  <ng-container
    *ngFor="let order of orderBooks; let i=index"
  >
  <app-order-element
    [index]="i"
    [orderBook]="order"
    [userId]="userId"
    (decreaseOrderNumberEvent)="refresh($event)"
  ></app-order-element>
  </ng-container>
  <ng-container *ngIf="orderBooks.length == 0">
    You have no orders for the moment.
  </ng-container>
</div>
