@import '../../../styles/variables.scss';

.order-list{
  width: 100%;
  min-height: 50em;

  &--price{
    margin-bottom: 1em;
    font-size: 20px;
    border: 1px solid black;
    width: 30em;
    background-color: white;
    border-radius: 8px;
    text-align: center;
    margin-left: 3em;
  }

  &-books{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;

    &-rec{
      margin-left: 6em;
      text-align: center;

      &-title{
        font-size: 20px;
        margin-bottom: 1em;
      }
    }
  }
}


.order-book{
  &:hover{
    border: 1px solid $hoverBorderColor;
  }

  border:1px solid black;
  border-radius: 8px;
  margin-bottom: 2em;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;

  &--image{
    margin-bottom: 1em;
    width: 16em;
    height:10em;
    border-radius: 8px;
  }

  .button{
    margin-top: 1em;
    background-color: $buttonColor;
    color:white;
    font-weight: 500;
    font-size:16px;
  }
}


.bigger-book{
  width:30em;
  height: 25em;
}

.bigger-text{
  font-size: 30px;
  margin-bottom: 3em;
}
