<div class="close_button">
  <button
    class="button"
    (click)="closeDialog()"
  >
    <mat-icon>
      clear
    </mat-icon>
  </button>
</div>
<div
  class="image-zoom"
>
  <canvas
    id="canvas"
    style="border:1px solid #000000;
            margin-left:1.5em;
            margin-top:1em;"
    ></canvas>
</div>

<div
  class="buttons"
>
  <button mat-button
    (click)="zoomIn()"
    class="button"
  >Zoom in <mat-icon>zoom_in</mat-icon></button>
  <button mat-button
    (click)="zoomOut()"
    class="button"
  >Zoom out <mat-icon>zoom_out</mat-icon></button>
</div>
