.cars{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 60em;

  .car{
    padding-left: 20%;
  }
}
