<div class="category-element"
  *ngIf="category"
>
  <div class="category-element__details">
    <div class="category-element__details__name">
     <span *ngIf="!isEditable">
        {{category.name}}
        </span>
        <form *ngIf="isEditable"
          [formGroup]="formGroup"
        >
          <input
            class="input"
            formControlName="name"
            [value]="category.name"
            type="text"
            [maxlength]="maxLength"
          />
        </form>
    </div>
    <div class="category-element__details__buttons">
      <ng-container *ngIf="isEditable && (userId == category.userId || isAdmin)">
        <button class="button"
          mat-button
          (click)="editCategory()"
      >
        Save <mat-icon>save</mat-icon>
      </button>
      <button class="button"
        mat-button
        (click)="makeUnEditable()"
      >
        Undo <mat-icon>navigate_before</mat-icon>
      </button>
      </ng-container>
      <ng-container *ngIf="!isEditable">
        <button class="button"
        mat-button
        (click)="requestToShowCars()"
      >
        Show cars <mat-icon>visibility</mat-icon>
      </button>
      <button class="button"
        mat-button
        *ngIf="userId == category.userId"
        (click)="makeEditable()"
      >
        Edit <mat-icon>edit</mat-icon>
      </button>
      <button class="button"
        mat-button
        *ngIf="userId == category.userId || isAdmin"
        (click)="deleteCategory()"
      >
        Delete <mat-icon>delete</mat-icon>
      </button>
      </ng-container>
    </div>
  </div>
</div>
