@import '../../../styles/variables.scss';

.order-element{
  &:hover{
    border: 1px solid $hoverBorderColor;
  }

  top: 0;
  border: 1px solid black;
  border-radius: 8px;
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 110%;

  &__left{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    img{
      width: 20em;
      height:15em;
      border-radius: 8px;
    }
  }

  &__right{
    margin-left: 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 16px;

    &--element{
      margin-top: 1em;
    }

    .button{
      background-color: $buttonColor;
      color:white;
      font-weight: 500;
      font-size:16px;
    }
  }
}
