<div
  class="forum"
>
  <div class="forum__create"
  *ngIf="userId >= 0">
    <app-create-forum-text
      (createForumTextEvent)="createForumComment($event)"
    ></app-create-forum-text>
  </div>
  <div class="forum__texts">
    <ng-container *ngFor="let forumText of forumTexts; let i=index">
      <app-forum-text
        [userId]="userId"
        [forumText]="forumText"
        [isAdmin]="isAdmin"
        [index]="i"
        (deleteForumTextEvent)="deleteForumText($event)"
        (editForumTextEvent)="editForumText($event)"
      ></app-forum-text>
    </ng-container>
  </div>
</div>
