.books{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  background-color:rgb(241, 243, 245);
  width: 100em;
  min-height: 50em;
  z-index: 1;

  .book{
    padding-left: 12em;
  }
}
