@import '../../../styles/variables.scss';

.user-profile{
  padding-left: 40%;
  width:100%;

  &--title{
    width:100%;
    padding-left: 40%;
    margin-bottom: 20%;

    .title{
      font-size: 30px;
    }
  }

  &__info{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    &--image{
      width:26em;

      .img{
        width:100%;
        border-radius: 20%;
      }
    }

    &--description{
      margin-left: 10%;
      width:30em;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;

      .text{
        width: 100%;
        margin-top: 10%;
        font-size: 20px;
      }
    }

    &--edit-account{
      margin-left: 10em;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .button{
        background-color: $buttonColor;
        margin-top: 1em;
        width: 10em;
        color: white;
      }
    }
  }

}
