<div class="title">
  <ng-container *ngIf="isEditMode">Edit {{car.name}} </ng-container>
  <ng-container *ngIf="!isEditMode">Create a car </ng-container>
</div>

<div class="car-create">
  <div>
    <form [formGroup]="formGroup"
      class = "form"
    >
        <input matInput
          formControlName="name"
          type="text"
          class="input"
          [value]="car.name"
          placeholder="Write a name for car"
        >
        <textarea
          formControlName="description"
          class="textarea"
          [value]="car.description"
          placeholder="Write a description"
        ></textarea>
        <input
          formControlName="price"
          type="number"
          class="input"
          [value]="car.price"
          placeholder="Set a price"
        >
        <input matInput
          formControlName="imageUrl"
          type="text"
          class="input"
          [value]="car.imageUrl"
          placeholder="Set an image url"
        >
        <mat-select
          formControlName="categoryId"
          placeholder="Select a category"
          class="select">
          <ng-container *ngFor="let category of categories">
            <mat-option
              [value]="category.categoryId"
            >
            {{category.name}}
          </mat-option>
          </ng-container>
        </mat-select>
    </form>
    <div class="buttons">
      <ng-container *ngIf="isEditMode">
        <button
          class="button"
          mat-button
          (click)="editCar()">Edit</button>
      </ng-container>
      <ng-container *ngIf="!isEditMode">
        <button
        class="button"
          mat-button
          (click)="createCar()">Create</button>
      </ng-container>
    </div>
    <mat-error *ngIf="errorMessage.length != 0" class="error">
      <ul>
        <li *ngFor="let error of errorMessage">
          <span>{{error}}</span>
        </li>
      </ul>
    </mat-error>
    </div>
  <div
    (click)="openDialog()"
  >
    <img
      *ngIf="car.imageUrl"
      [src]="car.imageUrl"
      class="imageForDisplaying"
    />
    <img
      *ngIf="!car.imageUrl"
      src="assets/images/sigla.png"
      class="imageForDisplaying"
    />
  </div>
</div>
