<ng-container *ngIf="!!car">
  <div class="car-destails">
    <div class="car-details__content">
      <div class="car-details__content__image">
        <div class="car-details__content__image--image">
          <img [src]="car.imageUrl"/>
        </div>
        <div class="car-details__content__image--back">
          <button (click)="goCarsDashboard()" mat-button>See all cars</button>
          <button mat-button (click)="showHideComments()">
            {{messagesShowCommentsButton[optionShowComments]}} comments
          </button>
        </div>
      </div>
      <div class="car-details__content__details">
        <span class="car-details__content__details--name">
          Name: {{car.name}}
        </span>
        <span class="car-details__content__details--description">
          Description: {{car.description}}
        </span>
        <span class="car-details__content__details--price">
           Price: {{car.price}} <mat-icon>euro</mat-icon>
        </span>
        <div>
          <app-car-category-name
            [categoryName]="categoryName"
          ></app-car-category-name>
        </div>
      </div>
    </div>
    <div class="car-details__comments">
      <app-comments-list [carId]="carId" *ngIf="isShowComments">
      </app-comments-list>
    </div>
  </div>
</ng-container>
