<div class="forum-text">
  <div class="forum-text__info">
    <div class="forum-text__info--image">
      <img [src]="imageSrc">
    </div>
    <div class="forum-text__info--text">
      {{name}}
    </div>
    <div class="forum-text__info--text">
      {{forumText.date}}
    </div>
  </div>
  <div class="forum-text__content">
    <div
      class="forum-text__content--text"
    >
      <span
        *ngIf="!isEdit"
      >
        {{forumText.text}}
      </span>
      <form
        *ngIf="isEdit"
        [formGroup]="formGroup"
      >
        <input
          class="input"
          type="text"
          formControlName="text"
        >
      </form>
    </div>
    <div class="forum-text__content--buttons">
      <ng-container *ngIf="!isEdit">
        <button
          mat-button
          class="button"
          (click)="setShowComments(!showComments)"
        >
          <ng-container *ngIf="showComments">
            Hide
          </ng-container>
          <ng-container *ngIf="!showComments">
            Show
          </ng-container> comments
        </button>

        <button
            *ngIf="userId >= 0"
            mat-button
            class="button"
            (click)="openCreateComment()"
          >
            Comment
          </button>
        <ng-container
          *ngIf="canDelete"
        >
          <button
            mat-button
            class="button"
            (click)="setEditMode()"
          >
            Edit
          </button>
          <button
            mat-button
            class="button"
            (click)="deleteForumText()"
          >
            Delete
          </button>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="isEdit">
        <button
          mat-button
          class="button"
          (click)="setViewMode()"
        >
          Undo
        </button>
        <button
          mat-button
          class="button"
          (click)="save()"
        >
          Save
        </button>
      </ng-container>
    </div>
  </div>
</div>
<app-create-forum-comment
  *ngIf="showCommentCreate"
  (createCommentEvent)="createComment($event)"
  (closeCommentEvent)="closeCreateComment()"
>
</app-create-forum-comment>
<app-forum-comment
  [comments]="showingComments"
  [userId]="userId"
  [isMainAdmin]="isAdmin"
  (deleteCommentEvent)="deleteComment($event)"
  (saveCommentEvent)="updateForumComment($event)"
  *ngIf="showComments"
>
</app-forum-comment>
