<form
  [formGroup]="formGroup"
  class="book-filter"
>
  <div class="book-filter__element">
    <mat-icon>
      book
    </mat-icon>
    <input
      class="book-filter__element--input"
      formControlName="name"
      type="text"
      placeholder="Book name"
    >
  </div>
  <div class="book-filter__element">
    <mat-icon>
      monetization_on
    </mat-icon>
    <input
      class="book-filter__element--input"
      formControlName="minPrice"
      placeholder="Book minimum price"
      type="number">
    </div>
    <div class="book-filter__element">
      <mat-icon>
        monetization_on
      </mat-icon>
      <input
        class="book-filter__element--input"
        formControlName="maxPrice"
        placeholder="Book maximum price"
        type="number">
      </div>
</form>
