@import "../../../../../styles/variables.scss";

.category-name{
  margin-top: 1em;
  margin-left: 10em;
  width:7em;
  background-color: $buttonColor;
  color:aliceblue;
  height: 3em;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}
