<div class="navbar">
  <div class="navbar__elements">
    <div *ngFor="let navbarElement of navbarElements">
      <app-navbar-element [navbarElement]="navbarElement">
      </app-navbar-element>
    </div>
  </div>

  <div *ngIf="!nickname" class="navbar__anonymous">
    <div *ngFor="let navbarElement of authNavbar">
      <app-navbar-element [navbarElement]="navbarElement">
    </app-navbar-element>
    </div>
  </div>
  <div  *ngIf="nickname" class="navbar__login">
    <button class="text"
      (click)="setShowActionUser()"
    >
      {{nickname}}
    </button>
    <div
      *ngIf="showActionsUser"
    >
      <button
        class="button"
        (click)="logOut()"
      >
        Logout
      </button>
      <button
        class="button"
        (click)="logOut()"
      >
        Profile
      </button>
    </div>
  </div>
</div>
