.navbar{
  background-color: #2c2424;
  width:100%;
  margin-bottom: 1em;

  &__elements{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  &__anonymous{
    display: flex;
    justify-content: flex-start;
    align-items: row;
  }

  &__login{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-right: 2em;

    .text{
      color: white;
    }

    .button{
      color:white;
      background-color: #2c2424;
      border: 0;
      font-size: 1em;
    }
  }
}
