<div class="forum-comment"
  *ngIf="showData && showingData && showingData.length"
>
  <ng-container *ngFor="let data of showingData; let i = index">
    <div  class="forum-comment-element">
        <div class="forum-comment-element--info">
          <span>
            {{data.name}}
          </span>
          <span class="space">
            {{data.date}}
          </span>
        </div>
        <div class="forum-comment-element--text">
          <span *ngIf="!isEditMode[i]">{{data.text}}</span>
          <form
            *ngIf="isEditMode[i]"
            [formGroup]="formGroups[i]"
          >
            <input
              class="input"
              type="text"
              formControlName="text"
            >
          </form>
        </div>
        <div class="forum-comment-element--buttons"
          *ngIf="(data.userId == userId || isMainAdmin) && !isEditMode[i]"
        >
          <button
            mat-button
            class="button"
            (click)="makeEditMode(i)"
          >
            Edit
          </button>
          <button
            mat-button
            class="button"
            (click)="deleteComment(i)"
          >
            Delete
          </button>
          </div>
          <div class="forum-comment-element--buttons"
          *ngIf="(data.userId == userId || isMainAdmin) && isEditMode[i]"
        >
          <button
            mat-button
            class="button"
            (click)="makeUnEditMode(i)"
          >
            Cancel
          </button>
          <button
            mat-button
            class="button"
            (click)="save(i)"
          >
            Save
          </button>
        </div>
      </div>
  </ng-container>
</div>
