<div class="forum-comment"
  *ngIf="showData"
>
  <ng-container *ngFor="let data of showingData; let i = index">
    <div  class="forum-comment-element">
        <div class="forum-comment-element--info">
          <span>
            {{data.name}}
          </span>
          <span class="space">
            {{data.date}}
          </span>
        </div>
        <div class="forum-comment-element--text">
          <span>{{data.text}}</span>
        </div>
        <div class="forum-comment-element--buttons"
          *ngIf="data.userId == userId || isMainAdmin"
        >
          <button
            mat-button
            class="button"
          >
            Edit
          </button>
          <button
            mat-button
            class="button"
          >
            Delete
          </button>
        </div>
      </div>
  </ng-container>
</div>
