<div class="centred-text">
  <div class="title">
    {{title}}
  </div>
  <div class="showElements">
    <form class="form"
      [formGroup]="formGroup"
    >
    <div class="section"
      *ngIf="action !== 'login'"
    >
      <mat-icon>
        perm_identity
      </mat-icon>
      <input
        matInput
        type="text"
        placeholder="Nickname"
        value=""
        formControlName="nickname"
        class="input">
    </div>
      <div class="section">
        <mat-icon>
          public
        </mat-icon>
        <input
          matInput
          type="email"
          placeholder="Email"
          value=""
          formControlName="email"
          class="input">
      </div>
      <div class="section">
        <mat-icon>
          lock
        </mat-icon>
        <input
          matInput
          type="password"
          placeholder="Password"
          value=""
          formControlName="password"
          class="input">
      </div>
      <div
        *ngIf="action !== 'login'"
        class="section"
      >
      <mat-icon>
        lock
      </mat-icon>
      <input
        matInput
        type="password"
        value=""
        placeholder="Password"
        formControlName="repeatPassword"
        class="input">
    </div>
      <button
        mat-button
        (click)="actionOnForm()"
        class="button"
      >
        {{buttonText}}
      </button>
      <mat-error
      *ngIf="errorMessages.length"
      class="error"
      >
      <ul>
        <div *ngFor="let errorMessage of errorMessages">
          <li>
            {{errorMessage}}
          </li>
        </div>
      </ul>
    </mat-error>
    </form>
    <div class="logo">
      <img
        src="assets/images/GiulianoStore.png"
        class="image"
        >
    </div>
  </div>
</div>
