.category-list{
  margin-left: 10em;
  width:200em;
  height:50em;
  overflow-x: hidden;
  overflow-y: auto;

  .category{
    margin:1em;
    width:100%;
  }

  .books{
    width:96.1em;
    padding-left: 1em;
  }
}
