<div class="category-list">
  <app-category-create
    *ngIf="userId >= 0 && userStatus == 0 || userStatus == 2"
    (createCategoryEvent)="createCategory($event)"
  ></app-category-create>
  <div *ngFor="let category of categories">
    <app-category-element
      class="category"
      [category]="category"
      [userId]="userId"
      (showBooksEvent)="showBooks($event)"
      (deleteCategoryEvent)="deleteCategory($event)"
      (editCategoryEvent)="editCategory($event)"
      (hideBooksEvent)="setCategoryIdForShowingBooks($event)"
      [showBooks]="categoryIdForShowingBooks==category.categoryId"
      [showButtonsForBooks]="!!showButtonsForBooks.get(category.categoryId)"
    ></app-category-element>
    <ng-container *ngIf="categoryIdForShowingBooks===category.categoryId">
      <div class="books">
        <div *ngFor="let book of booksToShow">
          <app-book
            [book]="book"
          ></app-book>
        </div>
      </div>
    </ng-container>
  </div>
</div>
