<div class="category-list">
  <app-category-create
    *ngIf="userId >= 0"
    (createCategoryEvent)="createCategory($event)"
  ></app-category-create>
  <div *ngFor="let category of categories">
    <app-category-element
      class="category"
      [category]="category"
      [userId]="userId"
      (showCarsEvent)="showCars($event)"
      (deleteCategoryEvent)="deleteCategory($event)"
      (editCategoryEvent)="editCategory($event)"
      [showCars]="categoryIdForShowingCars==category.categoryId"
    ></app-category-element>
    <ng-container *ngIf="categoryIdForShowingCars==category.categoryId">
      <div class="cars">
        <div *ngFor="let car of carsToShow">
          <app-car
            [car]="car"
          ></app-car>
        </div>
      </div>
    </ng-container>
  </div>
</div>
